/README.md
# Игнорировать временные файлы редакторов
*.tmp

# Игнорировать каталоги Python
__pycache__/
*.pyc
app/__pycache__/

# Игнорировать среды разработки
.vscode/

# Игнорировать файлы и каталоги, связанные с virtualenv
venv/
env/
*.egg-info/

# Игнорировать файлы с логами
*.log

# Игнорировать файлы данных
*.csv
